.ProductoDestacado {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: white;
    text-align: center;
}

/* Contenedor flexible para los productos */
#CategoriasVinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    border: none;
    width: 90%;
    margin: auto;
}

/* Cada producto será una "tarjeta" */
#CategoriasVinos .producto {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 20px;
    width: 350px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

#CategoriasVinos .producto:hover {
    transform: scale(1.05);
}


#CategoriasVinos .producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Botón uniforme */
.add-to-cart {
    background-color: #d48611;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.add-to-cart:hover {
    background-color: #d48611;
}

/* Botón “ver más” */
.ver-mas-btn {
    background-color: #dfa60b;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
}

.ver-mas-btn:hover {
    background-color: #dfa60b;
}

/* --- Responsividad --- */
@media (max-width: 768px) {
    #CategoriasVinos .producto {
        width: 45%;
    }
}

@media (max-width: 480px) {
    #CategoriasVinos .producto {
        width: 90%;
    }
}

/* Contenedor de imagen */
.producto-imagen-container {
    position: relative;
    width: 100%;
}

/* Texto sobre la imagen */
.producto-texto {
    position: absolute;
    top: 250px;
    left: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
    text-align: left;
}

.producto-texto h3,
.producto-texto p {
    margin: 0;
    padding: 0;
}


.producto-descripcion {
    font-size: 0.9em; 
    margin-bottom: 2cm;
}


.producto-estrellas {
    color: #ffc107;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 0.6em; /
}


.rating-text {
    font-size: 1em;
    color: #44484c;
}

.producto-subtitulo {
    color: #ffa807; 
    margin-bottom: 10px; 
    font-size: 0.9em; 
}
