.fondo{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/fondo.jpg");
    background-size: cover; 
}
#cabezaTabla{
    width: 100%;
    height: 90px;
    text-align: center;
    font-size: 30px;
    background-color:rgb(60, 9, 9);
    color: white;
}
#carrito{
    background-color: sandybrown;
    color: white;
}
.tamañoLetra{
    text-align: center;
    font-size: 70px;
    letter-spacing: 0px;
    text-shadow: 4px 4px 6px black;
}

#cena{
    width: 10%;
    height: 70px;
    font-size: 30px;
    background-color:rgb(60, 9, 9);
    color: white;
    text-align: center;
    margin: auto;
}

p {
    margin: 0;        /* elimina márgenes por defecto */
    padding: 0;       /* elimina cualquier padding */
    line-height: 1.5; /* opcional: reduce la altura de línea si quieres que el texto esté más compacto */
}